$solor-text: #777777;
$bg-btn: #263238;
$border-grey: #b3bbb7;
$color-bg: #e7e7e7;
$color-title: #333333;


@mixin f300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin f500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}